<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div class="hero-image">
    <div class="hero-text">
        <h1>Aligarh City</h1>
        <p>More than just Locks</p>
        <button>Know More</button>
    </div>
</div>
<div class="container">

    <h1 class="my-4">Welcome to Aligarh City</h1>

    <!-- Portfolio Section -->
    <!--
        <h2>Portfolio Heading</h2>
    -->

    <div class="row">
        <div th:each="buss : ${business}" class="col-lg-4 col-sm-6 portfolio-item">
                    <!--/* If the business is active, this code will be rendered. */-->

            <div class="card h-100" style="|background-color:blue|">
                <a th:href="${buss.facebookLink}">
                    <img th:alt="${buss.name}" class="card-img-top"
                                                      src="http://placehold.it/700x400"
                                                      th:src="@{/images/700x400/locks.jpg}">
                </a>
                <div class="card-body">
                    <span class="badge badge-secondary my-2">NEW</span>
                    <h4 class="card-title" th:text="${buss.name}">Hardware & Locks</h4>
                    <hr class="w-90">
                    <p class="card-text" th:text="${buss.tagLine}">Locks and hardware production is the cottage industry
                        here</p>
                    <a class="text-secondary" th:href="${buss.facebookLink}">More Info ></a>
                    <!--<i class="mi mi-ChevronRight"></i>-->
                </div>
            </div>
                    <!--/* If the business is inactive, this code will be rendered. */-->

<!--
            <div class="card h-100" th:unless="${buss.active}" style="|background-color:red|">
                <a th:href="${buss.youtubeLink}"><img th:alt="${buss.name}" class="card-img-top"
                                                      src="http://placehold.it/700x400"
                                                      th:src="@{/resources/images/700x400/locks.jpg}"></a>
                <div class="card-body">
                    <span class="badge badge-secondary my-2">NEW</span>
                    <h4 class="card-title" th:text="${buss.name}">Hardware & Locks</h4>
                    <hr class="w-90">
                    <p class="card-text" th:text="${buss.tagLine}">Locks and hardware production is the cottage industry
                        here</p>
                    <a class="text-secondary" th:href="${buss.facebookLink}">More Info ></a>
                    &lt;!&ndash;<i class="mi mi-ChevronRight"></i>&ndash;&gt;
                </div>
            </div>
-->
        </div>

    </div>

    <!-- Features Section -->
    <!-- /.row -->
    <h2 class="sh2 mb-4">Media list</h2>
    <div class="row mb-5">
        <!-- Grid column -->
        <div class="col-md-12">

            <ul class="list-unstyled">
                <li class="media">
                    <img class="mr-3" height="70px" width="70px"
                         src="https://mdbootstrap.com/img/Photos/Fluent/img(4).jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="font-weight-bold mt-0 mb-1">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        Cras purus odio, vestibulum in
                        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                        lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media my-4">
                    <img class="mr-3" height="70px" width="70px"
                         src="https://mdbootstrap.com/img/Photos/Fluent/img(4).jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="font-weight-bold mt-0 mb-1">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        Cras purus odio, vestibulum in
                        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                        lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="mr-3" height="70px" width="70px"
                         src="https://mdbootstrap.com/img/Photos/Fluent/img(4).jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="font-weight-bold mt-0 mb-1">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        Cras purus odio, vestibulum in
                        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                        lacinia congue felis in faucibus.
                    </div>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>For any advertisement on this site, click the button</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Contact Us</a>
        </div>
    </div>

</div>
<!-- /.container -->
</body>
</html>